*{
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}

.flex{
  display: flex;
}
.flex img{
  margin-top: 5px;
  /* padding: 5px; */
  height: 70px;
  width: 70px;
  border-radius: 50%;
 }
 #profile textarea{
  /* width: 70%; */
  height: 100px !important;
  width: 70%;
  resize: none;
  font-weight: 600;
  border-radius: 5px;
  outline-color: royalblue;
  border: 1px solid rgba(0, 0, 0, 0.327);
 }
 .parentcircle{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: relative;
 }
 .circle{
  position: absolute;
  height: 20px;
  top: 5%;
  right: 0%;
  width: 20px;
  /* border: 0.1px solid rgba(0, 0, 0, 0.144); */
  /* color: red; */
  /* background-color:red; */
  border-radius: 50%;
  opacity: 0;
   
 }
 .parentcircle:hover .circle{
  opacity: 1;
cursor: pointer; 
}

#flex{
  display: flex;
}
#flex img{
  height: 25px;
  width: 25px;
  margin-right: 5px;
  /* background-color: red; */
  border-radius: 50%;
}
#comment{
  width: 120px;
  margin-top: 10px;
  margin-left: 13.5px;
  height: 40px;
}